<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>F</key>
		<string>F_.glif</string>
		<key>diamondwhite-misc</key>
		<string>diamondwhite-misc.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>tonos</key>
		<string>tonos.glif</string>
		<key>turkishlira</key>
		<string>turkishlira.glif</string>
		<key>uni0181</key>
		<string>uni0181.glif</string>
		<key>uni0185</key>
		<string>uni0185.glif</string>
		<key>uni018A</key>
		<string>uni018A_.glif</string>
		<key>uni03020300</key>
		<string>uni03020300.glif</string>
		<key>uni03020301</key>
		<string>uni03020301.glif</string>
		<key>uni03020303</key>
		<string>uni03020303.glif</string>
		<key>uni03020309</key>
		<string>uni03020309.glif</string>
		<key>uni03D0</key>
		<string>uni03D_0.glif</string>
		<key>uni0413</key>
		<string>uni0413.glif</string>
		<key>uni042A</key>
		<string>uni042A_.glif</string>
		<key>uni042C</key>
		<string>uni042C_.glif</string>
		<key>uni0454</key>
		<string>uni0454.glif</string>
	</dict>
</plist>
