<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>lib</key>
		<dict>
			<key>com.fontlab.layer.locked</key>
			<false/>
			<key>com.fontlab.layer.name</key>
			<string>public.background</string>
			<key>com.fontlab.layer.opacity</key>
			<integer>1</integer>
			<key>com.fontlab.layer.service</key>
			<true/>
			<key>com.fontlab.layer.visible</key>
			<true/>
			<key>com.fontlab.layer.wireframe</key>
			<true/>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.6.1
1716022861.8 F_.glif
1716022861.8 diamondwhite-misc.glif
1716022861.8 tonos.glif
1716022861.8 turkishlira.glif
1716022861.8 uni018A_.glif
1716022861.8 uni019F_.glif
1716022861.9 uni03020300.glif
1716022861.9 uni03020301.glif
1716022861.9 uni03020303.glif
1716022861.9 uni0314.gr.glif
1716022861.9 uni03D_0.glif
1716022861.9 uni0413.glif
1716022861.9 uni0416.loclB_G_R_.glif
1716022861.9 uni042A_.glif
1716022861.9 uni042C_.glif
1716022861.9 uni0432.loclB_G_R_.glif
1716022862.0 uni044E_.loclB_G_R_.glif
1716022862.0 uni0454.glif</string>
		</dict>
	</dict>
</plist>
