<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>I</key>
  <string>I_.glif</string>
  <key>iota</key>
  <string>iota.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>uni026A</key>
  <string>uni026A_.glif</string>
  <key>uni0271</key>
  <string>uni0271.glif</string>
  <key>uni02A1</key>
  <string>uni02A_1.glif</string>
  <key>uni02A5</key>
  <string>uni02A_5.glif</string>
  <key>uni02A8</key>
  <string>uni02A_8.glif</string>
  <key>uni02AE</key>
  <string>uni02A_E_.glif</string>
  <key>uni0413</key>
  <string>uni0413.glif</string>
  <key>uni041A</key>
  <string>uni041A_.glif</string>
  <key>uni041A.loclBGR</key>
  <string>uni041A_.loclB_G_R_.glif</string>
  <key>uni0432.loclBGR</key>
  <string>uni0432.loclB_G_R_.glif</string>
  <key>uni0438.loclBGR</key>
  <string>uni0438.loclB_G_R_.glif</string>
  <key>uni2619</key>
  <string>uni2619.glif</string>
</dict>
</plist>
