<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>circlemultiply</key>
  <string>circlemultiply.glif</string>
  <key>diamondwhite-misc</key>
  <string>diamondwhite-misc.glif</string>
  <key>hryvnia</key>
  <string>hryvnia.glif</string>
  <key>i.sc</key>
  <string>i.sc.glif</string>
  <key>iota</key>
  <string>iota.glif</string>
  <key>newsheqel</key>
  <string>newsheqel.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>p.sc</key>
  <string>p.sc.glif</string>
  <key>peseta</key>
  <string>peseta.glif</string>
  <key>uni0180</key>
  <string>uni0180.glif</string>
  <key>uni0237</key>
  <string>uni0237.glif</string>
  <key>uni0265</key>
  <string>uni0265.glif</string>
  <key>uni026A</key>
  <string>uni026A_.glif</string>
  <key>uni0271</key>
  <string>uni0271.glif</string>
  <key>uni02A1</key>
  <string>uni02A_1.glif</string>
  <key>uni02A5</key>
  <string>uni02A_5.glif</string>
  <key>uni02A8</key>
  <string>uni02A_8.glif</string>
  <key>uni02AE</key>
  <string>uni02A_E_.glif</string>
  <key>uni037C</key>
  <string>uni037C_.glif</string>
  <key>uni041A.loclBGR</key>
  <string>uni041A_.loclB_G_R_.glif</string>
  <key>uni2115</key>
  <string>uni2115.glif</string>
</dict>
</plist>
